<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body ng-app="App">
<div ng-controller="History">
    <ul>
        <li ng-repeat="item in list">
            {{item.value}}
            <button ng-click="delete(item)" ng-disabled="item.disabled">x</button>
        </li>
    </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
<script src="/js/history.js"></script>
</body>
</html>
