<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div ng-app="App" ng-controller="Calc">
    <input type="text" ng-model="value" ng-disabled="sending" ng-keypress="inputKeyPress($event)">
    <div class="spinner" ng-show="sending">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
    <br>
    <button ng-disabled="!sendAvailable()" ng-click="send()">send</button>

</div>
<br><br>
<iframe  src="/history" width="300" height="400"></iframe>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
